name: Workflow with Artifact

on: [push]

env:
  ARTIFACT_NAME: .github

jobs:
  Job1:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code step
      uses: actions/checkout@v3
    - name: Ls
      run: |
        pwd
        ls -alrt
    - name: Upload artifact step
      uses: actions/upload-artifact@v4.3.6
      with:
        name: ${{ env.ARTIFACT_NAME }}
        path: ./${{ env.ARTIFACT_NAME }}
